// Variables
$dynamic-heading-color: #ffffff;
$blinking-cursor-color: #008170;
$header-text-color: #818080;
$background-color-dark: #1d1d1d;
$background-color-gradient: linear-gradient(45deg, #2c3e50, #4c677f);
$navbar-background: #111111;
$heading-hr-bg-color: #2f5edf;
$button-background-color: #2f5edf;
$blue-text-color: #4c677f;
$button-hover-color: #173eaa;
$button-dark-bg-color: #1d1d1d;
$button-dark-hover-color: #111111;
$burger-dropdown-hover-color: #302f2f;

// Mixins

@mixin button-style {
  background-color: $button-background-color;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  height: 40px;
}

@mixin skill-div-style {
  background-color: #e6e4e4;
  color: rgb(102, 102, 102);
  font-weight: bold;
  font-size: 0.7rem;
  padding: 1.3em;
  border: none;
  border-radius: 5px;
}

@mixin heading-hr-style {
  margin: 0;
  padding: 0;
  border: none;
  height: 4px;
  width: 20px;
  margin: auto;
  border-radius: 5px;
  background-color: $heading-hr-bg-color;
}

@mixin button-grow-effect($growth-factor) {
  animation-name: $growth-factor;
  animation-duration: 0.5s;
}

@mixin emphasized-text {
  font-weight: bold;
  color: $blue-text-color;
}

// Keyframes

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow-shrink {
  0%,
  100% {
    transform: scale(100%);
  }
  50% {
    transform: scale(105%);
  }
}

@keyframes grow-shrink-smaller {
  0%,
  100% {
    transform: scale(100%);
  }
  50% {
    transform: scale(102%);
  }
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  background-color: $background-color-dark;
  font-family: "Roboto Slab", serif;
  color: white;

  .navbar {
    background-color: $navbar-background;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 2;

    /* Would be better with flex and align-items: center */
    .logo-container {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 100%;

      p {
        color: $header-text-color;
      }

      img {
        margin-left: 30px;
        height: 80%;
      }
    }

    /* Hide the links inside the navigation menu */
    #my-links {
      display: flex;
      flex-direction: row;
      margin-right: 30px;
    }

    #hamburger-icon {
      display: none;
    }

    /* style for all the links in the navbar */
    a {
      color: $header-text-color;
      text-decoration: none;
      display: block;
      padding: 10px;
      padding-right: 20px;
      line-height: 2rem;
      font-size: 0.95rem;
      font-weight: bold;
      text-align: right;

      &:hover {
        color: white;
      }
    }

    hr {
      margin: 0;
      padding: 0;
      border: none;
      height: 1px;
      background-color: rgb(168, 168, 168);
      opacity: 50%;
    }

    @media (max-width: 768px) {
      height: 50px;

      #my-links.show {
        display: block;
      }

      /* Styling the hamburger link */
      #hamburger-icon {
        position: absolute;
        padding-right: 10px;
        top: 0;
        right: 0;
        width: 50px;
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
        display: block;
      }

      #my-links {
        background-color: #111111;
        display: none;
        width: 100%;
        position: absolute;
        top: 50px;
        right: 0;
        margin-right: 0;
      }
    }

    @media (min-width: 769px) {
      .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      #my-links {
        display: flex;
        flex-direction: row;
      }

      #hamburger-icon {
        display: none;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;

    #home {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 50px;
      padding: 20px;
      height: 570px; /* Need to fix height dinamically */
      scroll-margin-top: 50px;
      background: url("../resources/images/profile.png"),
        $background-color-gradient;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;

      @media (min-width: 1201px) {
        background-size: auto 100%;
      }

      @media (max-width: 1200px) {
        background-size: auto 100%;
      }

      @media (max-width: 1024px) {
        background-size: auto 100%;
      }

      @media (max-width: 768px) {
        background-size: 100% auto;
      }

      .title {
        font-size: 3rem;
        color: $dynamic-heading-color;
        font-family: "Inconsolata", monospace;

        span {
          color: $blinking-cursor-color;
          font-weight: bolder;

          &.blinking-cursor {
            animation-name: blink;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
          }
        }

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }

    #about {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #222222;
      padding: 20px;
      scroll-margin-top: 50px;

      h2 {
        margin-top: 70px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 2rem;
      }

      hr {
        @include heading-hr-style();
      }

      p:first-of-type {
        text-align: center;
        margin-bottom: 70px;
        max-width: 550px;
      }

      .get-to-know-me {
        h3 {
          align-self: flex-start;
        }

        p {
          text-align: left;
          margin-bottom: 30px;

          span {
            @include emphasized-text();
          }
        }

        a {
          @include button-style();
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          width: 150px;
          align-self: flex-start;
          margin-top: 20px;
          margin-bottom: 50px;

          &:hover {
            background-color: $button-hover-color;
            @include button-grow-effect(grow-shrink);
          }

          @media (max-width: 768px) {
            margin-bottom: 0;
          }
        }
      }

      .my-skills {
        margin-bottom: 50px;

        h3 {
          align-self: flex-start;
          margin-top: 50px;
        }

        .skills {
          /* In landscape mode they take about 50% */
          align-self: flex-start;
          width: 80%;
          display: flex;
          gap: 20px;
          flex-wrap: wrap;

          div {
            @include skill-div-style();
          }
        }
      }

      img {
        height: 300px;
      }

      @media (min-width: 769px) {
        .about-me-group {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: flex-start;
          gap: 30px;
        }

        .get-to-know-me {
          width: 25%;

          h3 {
            margin-top: 0;
          }
        }

        .my-skills {
          width: 25%;

          h3 {
            margin-top: 0;
          }
        }
      }
    }

    #projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      scroll-margin-top: 50px;
      background: $background-color-gradient;

      hr {
        @include heading-hr-style();
      }

      p:first-of-type {
        margin-bottom: 70px;
        text-align: center;
      }

      .slideshow-container {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        user-select: none;

        .slide {
          display: none;
          gap: 20px;

          img {
            width: 50%;

            @media (max-width: 768px) {
              width: 100%;
            }
          }
          .about-project {
            width: 50%;

            span {
              color:#6b6969;
              opacity: 50%;
            }

            @media (max-width: 768px) {
              width: 100%;
            }
          }
        }

        /* Next and previous buttons */
        .next,
        .previous {
          flex: 0 0 30px;
          cursor: pointer;
          font-weight: bold;
          width: 30px;
          height: 30px;
          background-color: #2f5edf;
          border: none;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 20px;
          margin-bottom: 100px;

          &:hover {
            background-color: #173eaa;
          }

          p {
            margin: 0;
          }
        }

        .fade {
          animation-name: fadein;
          animation-duration: 1.5s;
        }

        @media (max-width: 768px) {
          justify-content: center;
        }
      }

      article {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 100px;
        max-width: 1200px;
        gap: 50px;

        img {
          width: 50%;
          margin-bottom: 40px;
        }

        .about-project {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          h3 {
            margin-top: 0;
          }

          p {
            text-align: left;
            margin-bottom: 0;
            line-height: 1.7rem;
          }
        }

        button {
          @include button-style();
          background-color: #1d1d1d;
          width: 150px;
          margin-top: 30px;

          &:hover {
            @include button-grow-effect(grow-shrink);
            background-color: $button-dark-hover-color;
          }
        }

        @media (max-width: 768px) {
          flex-direction: column;

          img {
            width: 100%;
          }

          .about-project {
            align-items: center;

            p {
              text-align: center;
            }
          }
        }
      }
    }

    #contact {
      background-color: #222222;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      scroll-margin-top: 50px;

      hr {
        @include heading-hr-style();
      }

      p {
        text-align: center;
        max-width: 550px;
      }

      form {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 5px;
        padding: 30px;
        width: 700px;
        margin-bottom: 70px;

        label {
          margin-bottom: 10px;
          font-size: 0.8rem;
          font-weight: bold;
          color: #6b6969;
        }

        input,
        textarea {
          background-color: #e6e4e4;
          border: none;
          border-radius: 5px;
          padding: 20px;
          margin-bottom: 20px;
          font-size: 0.8rem;
          font-weight: bold;
        }

        textarea {
          height: 180px;
        }

        button {
          @include button-style();
          width: 100%;
          height: 60px;

          &:hover {
            @include button-grow-effect(grow-shrink-smaller);
            background-color: $button-hover-color;
          }
        }
      }

      @media (max-width: 768px) {
        form {
          width: 80%;
        }
      }
    }
  }

  footer {
    background-color: #111111;
    color: white;
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;

    img {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }

    h3 {
      margin-top: 50px;
    }

    p:first-of-type {
      margin-bottom: 50px;
    }

    hr {
      border: none;
      height: 1px;
      background-color: #6b6969;
      opacity: 70%;
    }

    p:nth-of-type(2) {
      padding: 20px;
      text-align: center;
      font-size: 0.7rem;
    }

    .footer-elements {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .left {
      width: 40%;
    }

    .right {
      h3 {
        margin-top: 0;
      }
    }

    .copyright {
      text-align: center;
      margin-top: 30px;
    }

    @media (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;

      .footer-elements {
        flex-direction: column;
        align-items: flex-start;
      }

      .left {
        width: 100%;
      }

      .right {
        margin-bottom: 50px;
      }
    }
  }
}
