// Variables
$background-color-dark: #222222;
$background-color-gradient: linear-gradient(45deg, #2c3e50, #4c677f);
$dynamic-heading-color: #ffffff;
$blinking-cursor-color: #008170;
$header-text-color: #818080;
$blue-text-color: #4c677f;
$navbar-background: #111111;
$heading-hr-bg-color: #4c677f;
$heading-hr-bg-color-dark: #1d1d1d;
$button-background-color: #4c677f;
$input-outline-color: #4c677f;
$button-hover-color: #314e68;
$button-dark-bg-color: #1d1d1d;
$button-dark-hover-color: #111111;
$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$text-font-size: 0.9rem;
$label-font-size: 0.8rem;
$navbar-link-font-size: 0.95rem;
$button-font-size: 0.9rem;
$size6-multiplier: 1.05;
$size5-multiplier: 0.95;
$size4-multiplier: 0.9;

// Mixins
@mixin button-style {
  background-color: $button-background-color;
  cursor: pointer;
  user-select: none;
  color: white;
  border: none;
  border-radius: 0.5em;
  font-size: $button-font-size;
  font-weight: bold;
  padding: 1em;

  &:active {
    box-shadow: inset 0.125em 0.125em 0.125em #302f2f;
  }
}

@mixin button-grow-effect($growth-factor) {
  animation-name: $growth-factor;
  animation-duration: 0.5s;
}

@mixin skill-div-style {
  background-color: #e6e4e4;
  color: rgb(102, 102, 102);
  font-weight: bold;
  font-size: $text-font-size;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
}

@mixin heading-hr-style {
  margin: 0;
  padding: 0;
  border: none;
  height: 0.25rem;
  width: 1.25rem;
  margin: auto;
  border-radius: 0.5em;
  background-color: $heading-hr-bg-color;
}

@mixin emphasized-text {
  font-weight: bold;
  color: $blue-text-color;
}

// Keyframes
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow-shrink {
  0%,
  100% {
    transform: scale(100%);
  }
  50% {
    transform: scale(105%);
  }
}

@keyframes grow-shrink-smaller {
  0%,
  100% {
    transform: scale(100%);
  }
  50% {
    transform: scale(102%);
  }
}

@keyframes color-transition {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #ffffff;
  }
}

@keyframes slide-right {
  0% {
    left: 105%;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-left {
  0% {
    left: -105%;
  }
  100% {
    left: 0;
  }
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  background-color: $background-color-dark;
  font-family: "Roboto Slab", serif;
  color: white;
  display: flex;
  flex-direction: column;

  /* Define all font sizes here */

  h1 {
    user-select: none;
    font-size: $h1-font-size;
  }

  h2 {
    font-size: $h2-font-size;
  }

  h3 {
    font-size: $h3-font-size;
  }

  p,
  a,
  input,
  textarea {
    font-size: $text-font-size;
  }

  label {
    font-size: $label-font-size;
  }

  button {
    font-size: $button-font-size;
  }

  /* Change font-size dinamically with media queries */
  @media (min-width: 320px) {
    h1 {
      font-size: $h1-font-size * $size4-multiplier;
    }

    h2 {
      font-size: $h2-font-size * $size4-multiplier;
    }

    h3 {
      font-size: $h3-font-size * $size4-multiplier;
    }

    p,
    a,
    input,
    textarea {
      font-size: $text-font-size * $size4-multiplier;
    }

    label {
      font-size: $label-font-size * $size4-multiplier;
    }

    button {
      font-size: $button-font-size * $size4-multiplier;
    }
  }

  @media (min-width: 961px) {
    h1 {
      font-size: $h1-font-size * $size5-multiplier;
    }

    h2 {
      font-size: $h2-font-size * $size5-multiplier;
    }

    h3 {
      font-size: $h3-font-size * $size5-multiplier;
    }

    p,
    a,
    input,
    textarea {
      font-size: $text-font-size * $size5-multiplier;
    }

    label {
      font-size: $label-font-size * $size5-multiplier;
    }

    button {
      font-size: $button-font-size * $size5-multiplier;
    }
  }

  @media (min-width: 1281px) {
    h1 {
      font-size: $h1-font-size * $size6-multiplier;
    }

    h2 {
      font-size: $h2-font-size * $size6-multiplier;
    }

    h3 {
      font-size: $h3-font-size * $size6-multiplier;
    }

    p,
    a,
    input,
    textarea {
      font-size: $text-font-size * $size6-multiplier;
    }

    label {
      font-size: $label-font-size * $size6-multiplier;
    }

    button {
      font-size: $button-font-size * $size6-multiplier;
    }
  }

  .navbar {
    background-color: $navbar-background;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
    z-index: 99;

    .logo-container {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      height: 100%;

      p {
        color: $header-text-color;
      }

      a {
        margin-top: 1rem;
        margin-left: 1.25rem;
        height: 100%;
        padding: 0;

        @media (max-width: 768px) {
          margin-top: 0.75rem;
        }

        img {
          height: 80%;
        }
      }
    }

    /* Hide the links inside the navigation menu */
    #my-links {
      display: flex;
      flex-direction: row;
      margin-right: 1.35rem;
    }

    #hamburger-icon {
      display: none;
    }

    /* style for all the links in the navbar */
    a {
      color: $header-text-color;
      text-decoration: none;
      display: block;
      padding: 0.625rem;
      padding-right: 1.25rem;
      line-height: 2rem;
      font-size: $text-font-size;
      font-weight: bold;
      text-align: right;

      &:hover {
        color: white;
      }

      &:active {
        color: $blue-text-color;
      }
    }

    hr {
      margin: 0;
      padding: 0;
      border: none;
      height: 0.06rem;
      background-color: rgb(168, 168, 168);
      opacity: 50%;
    }

    @media (max-width: 768px) {
      height: 3.125rem;

      #my-links.show {
        display: block;
      }

      #hamburger-icon {
        position: absolute;
        padding-right: 0.625rem;
        right: 0;
        width: 3.125rem;
        font-size: 1.4rem;
        font-weight: 100;
        text-align: center;
        display: block;
      }

      #my-links {
        background-color: #111111;
        display: none;
        width: 100%;
        position: absolute;
        top: 3.125rem;

        a {
          padding-right: 1.5rem;
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1;

    #home {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 3.2rem;
      padding: 1.25em;
      min-height: 35rem;
      overflow-anchor: none; /* Prevents scrolling due to element content change */
      scroll-margin-top: 3rem;
      background: url("../resources/images/profile.png"),
        $background-color-gradient;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
      flex: 1;

      .title {
        color: $dynamic-heading-color;
        font-family: "Inconsolata", monospace;

        span {
          color: $blinking-cursor-color;
          font-weight: bolder;

          &.blinking-cursor {
            animation-name: blink;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
          }
        }
      }
    }

    #about {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #222222;
      padding: 2em;
      scroll-margin-top: 3rem;
      flex: 1;

      h2 {
        margin-top: 4.375rem;
        margin-bottom: 0.938rem;
        text-align: center;
      }

      hr {
        @include heading-hr-style();
      }

      p:first-of-type {
        text-align: center;
        margin-bottom: 4.375rem;
        max-width: 34rem;
      }

      .about-me-group {
        display: flex;
        justify-content: center;
        max-width: 100rem;
        gap: 2rem;

        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2rem;
        }

        .get-to-know-me {
          flex-basis: 60%;
          h3 {
            align-self: flex-start;
          }

          p {
            text-align: justify;
            margin-bottom: 1.875rem;

            span {
              @include emphasized-text();
            }
          }

          a {
            @include button-style();
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 9.375rem;
            align-self: flex-start;
            margin-bottom: 3.125rem;

            &:hover {
              background-color: $button-hover-color;
              @include button-grow-effect(grow-shrink);
            }

            @media (max-width: 768px) {
              margin-bottom: 0;
            }
          }
        }

        .my-skills {
          margin-bottom: 50px;
          flex-basis: 40%;

          h3 {
            align-self: flex-start;
          }

          .skills {
            align-self: flex-start;
            width: 80%;
            display: flex;
            gap: 1.25rem;
            flex-wrap: wrap;

            div {
              @include skill-div-style();

              &:hover {
                background-color: $button-background-color;
                color: #ffffff;
              }
            }
          }

          @media (max-width: 768px) {
            flex-basis: 50%;
          }
        }
      }
    }

    #projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.25em;
      scroll-margin-top: 3rem;
      background: $background-color-gradient;
      flex: 1;

      hr {
        @include heading-hr-style();
        background-color: $heading-hr-bg-color-dark;
      }

      p {
        margin-bottom: 4.375rem;
        text-align: center;
      }

      .about-project > p {
        text-align: left;
      }

      .slideshow-container {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        overflow-anchor: none;
        user-select: none;
        position: relative;

        .slide {
          display: none;
          position: relative;
          gap: 1.25rem;

          &:first-of-type {
            display: flex;
          }

          img {
            width: 50%;

            @media (max-width: 768px) {
              width: 100%;
            }
          }
          .about-project {
            width: 50%;

            span {
              color: #6b6969;
              opacity: 50%;
            }

            @media (max-width: 768px) {
              width: 100%;

              p {
                text-align: center;
              }
            }
          }
        }

        /* Another fail by sass compiler, cannot nest these classes inside .slide */

        .slide-left {
          animation: 0.5s slide-left;
        }

        .slide-right {
          animation: 0.5s slide-right;
        }

        /* Next and previous buttons */
        .next,
        .previous {
          flex: 0 0 1.875rem;
          cursor: pointer;
          font-weight: bold;
          padding: 0.475em 0.3rem;
          background-color: $button-dark-bg-color;
          border: none;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1.25rem;
          z-index: 2;

          &:hover {
            background-color: #000000;
            transform: scale(105%);
          }

          p {
            margin: 0;
          }

          @media (max-width: 768px) {
            display: none;
          }
        }

        .fade {
          animation-name: fadein;
          animation-duration: 1.5s;
        }

        @media (max-width: 768px) {
          justify-content: center;
        }
      }
    }

    article {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      max-width: 75rem;

      img {
        width: 50%;
        margin-bottom: 2.5rem;
      }

      .about-project {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
          margin-top: 0;
        }

        p {
          margin-bottom: 0;
          line-height: 1.7rem;
        }
      }

      button {
        @include button-style();
        background-color: #1d1d1d;
        padding: 1em 1.6em;

        &:hover {
          @include button-grow-effect(grow-shrink);
          background-color: $button-dark-hover-color;
        }

        &:active {
          box-shadow: inset 0.125em 0.125em 0.125em #364a5c;
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;

        img {
          width: 100%;
        }

        .about-project {
          align-items: center;

          p {
            text-align: center;
          }
        }
      }
    }

    .dot-navigation-menu {
      display: flex;
      justify-content: center;
      padding: 2rem;
      align-items: center;
      gap: 0.938rem;
      margin-bottom: 3.125rem;

      div {
        min-width: 1.875rem;
        min-height: 1.875rem;
        background-color: transparent;
        opacity: 50%;
        border: 1px solid #ffffff;
        border-radius: 50%;
        cursor: pointer;
      }
      /* The Sass Compiler creates an incorrect selector so I can't nest this into the div selector above */
      .color-transition {
        animation: color-transition 1s forwards;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    #contact {
      background-color: #222222;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.25rem;
      scroll-margin-top: 3rem;
      flex: 1;

      hr {
        @include heading-hr-style();
      }

      p {
        text-align: center;
        max-width: 550px;
      }

      form {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 0.5rem;
        padding: 1.875em;
        width: 43.75rem;
        margin-bottom: 4.375rem;

        label {
          margin-bottom: 0.725em;
          font-weight: bold;
          color: #6b6969;
        }

        input,
        textarea {
          background-color: #e6e4e4;
          border: none;
          border-radius: 0.5em;
          padding: 1.35em;
          margin-bottom: 1.25rem;
          font-weight: bold;
          font-family: inherit;
          outline-color: $input-outline-color;
        }

        textarea {
          height: 11.25em;
          resize: none;
        }

        button {
          @include button-style();
          width: 100%;
          padding: 1.375em;

          &:hover {
            @include button-grow-effect(grow-shrink-smaller);
            background-color: $button-hover-color;
          }

          &:active {
            box-shadow: inset 0.15em 0.15em 0.15em #302f2f;
          }
        }
      }

      @media (max-width: 768px) {
        form {
          width: 80%;
        }
      }
    }
  }

  footer {
    background-color: #111111;
    color: white;
    padding: 1.25rem;
    display: flex;
    justify-content: center;

    .footer-content {
      max-width: 100rem;
      img {
        width: 20px;
        height: 20px;
        margin-right: 1.25rem;
      }

      h3 {
        margin-top: 3.125rem;
      }

      p:first-of-type {
        margin-bottom: 3.125rem;
      }

      hr {
        border: none;
        height: 1px;
        background-color: #6b6969;
        opacity: 70%;
      }

      p:nth-of-type(2) {
        padding: 1.25em;
        text-align: center;
      }

      .footer-elements {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .left {
        width: 40%;
      }

      .copyright {
        text-align: center;
        margin-top: 1.875rem;
      }

      @media (max-width: 768px) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        .footer-elements {
          flex-direction: column;
          align-items: flex-start;
        }

        .left {
          width: 100%;
        }

        .right {
          margin-bottom: 3.125rem;
        }
      }
      .right a {
        text-decoration: none;
      }
    }
  }
}
